*{ box-sizing: border-box;}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}


.home-wrapper{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/background.jpeg') no-repeat center top;
  background-size: cover;
  color: #ffffff;
}
header{
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: rgb(65, 65, 65);
  text-align: -moz-center;
}

header img{
  width: 27%;
}

header nav{
  float: right;
  margin-top: 10px;
  font-size: medium;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    border-top: 3px;
    border-bottom: 3px;
    border-left: 3px;
    border-right: 3px;
    border-width: 3px;
    background-color:rgb(65, 65, 65);
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #168b8b;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#home{
  text-align: center;
  padding: 200px 0 150px;
}


#home h1{
  color: #cccccc;
  font-size: 68px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}

#home .divider{
  width: 80px;
  border-top: 5px solid #168b8b;
  margin: 0 auto;
}

#home p{
  font-size: 24px;
  margin-top: 40px;
}

#home .social{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;

}

#home .social .facebook{
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(50, 52, 238);
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#home .facebook:hover {
  background-color: rgb(30, 32, 163);
  cursor: pointer;
}

#home .twitter {
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(73, 241, 247);
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#home .twitter:hover {
  background-color: rgb(0, 206, 213);
  cursor: pointer;
}

#home .googleplus {
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(242, 78, 78);
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#home .googleplus:hover {
  background-color: rgb(227, 35, 35);
  cursor: pointer;
}

#servicios .box{
  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 10px;
}


#vencimientos .box{
  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 10px;
}


#portafolio{
  background: #168b8b;
  background-size: cover;
  color: #ffffff;
}

#portafolio .box{
  display: inline-block;
  text-align: center;
  width: 31%;
  margin: 1%;
  background-color: white;
}

#portafolio .box img{
width: 100%;
}

#portafolio .box p{
  color: #666;
  padding: 6px;
}

#contacto{
  background-color: #303030;
  background: rgb(65, 65, 65);
  background-position: center;
  background-repeat: none;
  text-align: center;
  width: 100%;
}


#contacto h2{
  color: white;
}

#contacto input{
  padding: 20px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#contacto input:hover{
  border-color: rgb(0, 17, 247);
}

#contacto textarea{
  margin: 20px 0;
  padding: 20px;
  width: 400px;
}

#contacto button{
  background-color: rgb(65, 65, 65);
  padding: 20px 40px;
  border-color: rgb(65, 65, 65);
  border-radius: 3px;
  color: white;
  font-size: 18px;
  line-height: 1;
  width: 20%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

#contacto button:hover{
  cursor: pointer;
  background-color: #168b8b;
  border-color: #168b8b;
  width: 29%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


footer{
  background: #b1b1b1;
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
}

section{
  padding: 80px 0;
}

section h2{
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
}

.container{
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}
